body{
    height: 100vh;
    background: linear-gradient(to bottom right,#2e503d 50%, #69B68B);
}
.container-principal {
    padding: 20px;
}
.logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.container-login{
    background-color: #181818;
    border-radius: 30px;
    row-gap: 25px;
    padding: 80px 0px 40px 0px;
}

.btn{
    background-color: #71B48D;
}

.btn:hover{
    color: #ffffff;
    background-color: #000000;
}

.ancora{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
}

.ancora:hover{
    text-decoration: none;
    color: #BFBFBF;
}
