body{
    height: 100vh;
    background: linear-gradient(to bottom right,#2e503d 50%, #69B68B);
}

.custom-login{
    background-color: #181818;
    border-radius: 30px;
    width: 85%;
}

.btn{
    width: 40%;
    background-color: #71B48D;
    border: none;
}

.btn:hover{
    color: #ffffff;
    background-color: #000000;
}

.form-control{
    width: 85%;
    display: inline;
}

div a{
    text-decoration: none;
    color: white;
    margin-bottom: 3rem;
}

div a:hover{
    color: #BFBFBF;
}

@media(min-width:768px){
    .custom-login{
        width: 85%;
    }
}